
* {
    box-sizing: border-box;
}

@media screen and (min-width: 600px){

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        flex-basis: 48%;
        margin: 1%;
    }
    
}

@media screen and (min-width: 992px){

    .column {
        flex-basis: 23%;
        margin: 1%;
    }
}